$main-background: #12354234;

body {
  // background-image: url("/assets/istockphoto-925344052-170667a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(230, 230, 233, 0.397);
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 100%;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(auto, auto);
  text-align: center;
}

.one {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../assets/ventana-espuma.jpg);
  background-position: center;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
// .two {
//   justify-content: center;
//   grid-column: 2;
//   grid-row: 1;
// }
// .three {
//   grid-column: 1;
//   grid-row: 2;
// }
// .four {
//   grid-column: 2;
//   grid-row: 2;
// }

.image {
  max-width: 350px;
  height: auto;
}

.servicios {
  color: #060769;
  position: relative;
}

.contact-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 90px;
  grid-auto-rows: minmax(auto, auto);
  width: 80%;
}

.map-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4075c5;
  width: 700px;
  height: 550px;
  grid-column: 1;
  grid-row: 1;
}

.form-container {
  text-align: center;
  background-color: beige;
  grid-column: 2;
  grid-row: 1;
}
.form {
  text-align: left;
  margin-left: 30px;
}

@media (max-width: 1024px) {
  .wrapper {
    display: block;
    text-align: center;
  }
}
