$main-background: #12354234;
$input-space: 10px;

body {
  // background-image: url("/assets/istockphoto-925344052-170667a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(230, 230, 233, 0.397);
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image {
  max-width: 350px;
  height: auto;
}

.main-container {
  width: 100%;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(auto, auto);
  text-align: center;
  width: 80%;
  margin-top: 50px;
}

.one {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../assets/ventana-espuma.jpg);
  background-position: center;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.square-service {
  border: 1px solid;
  border-radius: 3px;
}

.row-container {
  width: 100%;
  height: 250px;
  background-color: gray;
}

.servicios {
  color: #060769;
  position: relative;
}

.contact-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.map-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 420px;
  grid-column: 1;
  grid-row: 1;

  h2 {
    margin: 50px 0 50px;
  }
}

// captcha
.g-recaptcha {
  margin-bottom: 20px;
}
.g-recaptcha div {
  width: auto !important;
}

.form-container {
  text-align: center;
  margin: 50px 0;

  h2 {
    margin-bottom: 30px;
  }

  .form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.form div {
  margin: $input-space 10px;
}

.msj-input {
  padding: $input-space 0;
}

.form-floating {
  width: 350px;
}

#footer-img-container {
  img {
    margin: 10px 0 20px;
    width: 10%;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    display: block;
    text-align: center;
  }

  .form {
    flex-direction: column;
    align-items: center;
  }

  .msj-input {
    padding: 0;
    margin: 0;
  }

  #footer-img-container {
    img {
      margin-top: 10px;
      width: 50%;
    }
  }

  #footer-info {
    padding: 0 0;
  }
}

.wrapper-two{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(auto, auto);
  text-align: center;
  width: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  h1{
    color: #12384E;
  }
  img{
    width: 135px;
  }
  .margin-top{
    margin-top: 30px;
  }
  .square-service-two {
    width: 370px;
    height: 320px;
    border: 1px solid;
    border-radius: 3px;
    background-color: #D9D9D9;
  }
  
  .row-container-two {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 1024px) {
  .wrapper-two{
    display:block;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(auto, auto);
    text-align: center;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    h1{
      color: #12384E;
    }
    img{
      width: 135px;
    }
    .margin-top{
      margin-top: 30px;
    }
    .square-service-two {
      margin: 20px 0px;
      width: 370px;
      height: 320px;
      border: 1px solid;
      border-radius: 3px;
      background-color: #D9D9D9;
    }
    
    .row-container-two {
      width: 100%;
      height: 200px;
    }
  }
}

.baner-container{
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 100%;
  height: 633px;
  background-color: #CFCBCE;
  img{
    width: 50%;
    height: 100%;
  }
  .img-div{
    height: 633px;;
    width: 70%;
    background-image: url("/assets/pexels-ksenia-chernaya-5691488.jpg");
    background-size: cover;
    background-position:bottom;
  }

  .info-container{
    
    margin-top: 130px;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    h1{
      text-align: center;
      font-size: 60px;
      color: #12384E;
    }  
    h2{
      font-size: 27px;
    }

    .info-container-two{
      margin-top: 50px;
      margin-bottom: 50px;
      flex-direction: row;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;      

      .list-container{
        flex-direction: column;
        h3{
          font-size: 27px;
          margin: 0px;
        }
      }

      .info-ico{
        width: 140px;
        height: auto;
      }
      

    }

    .maquinas{
      text-align: center;
      max-width: 80%;
    }
    

  }
}

@media (max-width: 1024px) {
  .baner-container{
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #CFCBCE;
    img{
      width: 50%;
      height: 100%;
    }
    .img-div{
      height: 0px;;
      width: 0%;
      background-image: url("/assets/pexels-ksenia-chernaya-5691488.jpg");
      background-size: cover;
      background-position:bottom;
    }
  
    .info-container{
      margin-top: 30px;
      flex-direction: column;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      h1{
        text-align: center;
        margin: 0px;
        font-size: 50px;
        color: #12384E;
      }  
      h2{
        font-size: 27px;
      }
  
      .info-container-two{
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: row;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;      
  
        .list-container{
          flex-direction: column;
          h3{
            font-size: 27px;
            margin: 0px;
          }
        }
        .info-ico{
          width: 140px;
          height: auto;
        }
      }
      .maquinas{
        text-align: center;
        max-width: 80%;
        margin-top: -20px;
      }
    }
  }
}

